
.auth {
  width: 400px;
  margin: 0 auto;
  margin-top: 13%;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  & > form > input {
    display: flex;
    width: 100%;
    height: 32px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  & > form > input:hover {
    border: 2px solid #007BFF;
  }
  & > form > h1 {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 40px;
    color: #000000;
  }
  & > form > button {
    width: 60%;
    margin-top: 15px;
    margin-left: 45px;
    margin-bottom: 15px;
  }
  & > form > a {
    display: flex;
  }
  .btn-primary > a{
    color: white;
  }
  & > .reg_link {
    margin-left: 53px;
  }
}
